@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Bricolage Grotesque", sans-serif;  

  }
  
  body {
    font-family: "Bricolage Grotesque", sans-serif;
    background-color: #F7F9FC;
    width: 100%;
  }

  .forms{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .forms input{
    height: 45px;
    width: 100%;
  }
  .forms select{
    height: 45px;
    width: 100%;
  }
.forms button{
  height: 45px;
  width: 100%;
  background-color: #0e0995;
  color: #FFF;
  border: none;
}

.logout{
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  padding: 15px 25px;
  display: flex;
  justify-content: center;
align-items: center;

}
.logout a{
  color: #FFF;
}